<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :course_id %>
  <%= f.collection_select :course_id, Course.all, :id, :title %>
</div>

<div class="field">
  <%= f.label :classroom_id%>
    <%= f.collection_select :classroom_id, Classroom.all, :id, :c_name %>
  </div>


<div class="field">
    <%= f.label :b_time, 'time slot' %>  
    <%= f.select :b_time, Booking.timeslots %>
  </div>




  <div class="field">
    <label>M</label>
    <input type="checkbox" name="days_of_week[]" value="Monday">
    <label>T</label>

    <input type="checkbox" name="days_of_week[]" value="Tuesday">
    <label>W</label>

    <input type="checkbox" name="days_of_week[]" value="Wednesday">
    <label>T</label>

    <input type="checkbox" name="days_of_week[]" value="Thursday">
    <label>F</label>

    <input type="checkbox" name="days_of_week[]" value="Friday"> 
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
