<h1>Listing bookings</h1>

<table>
  <tr>
    <th>Start date</th>
    <th>End date</th>
    <th>Time</th>
    <th>Duration hours</th>
    <th>Course</th>
    <th>Classroom</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.start_date %></td>
    <td><%= booking.end_date %></td>
    <td><%= booking.time %></td>
    <td><%= booking.duration_hours %></td>
    <td><%= booking.course_id %></td>
    <td><%= booking.classroom_id %></td>
    <td><%= link_to 'Show', booking %></td>
    <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Booking', new_booking_path %>
