<p id="notice"><%= notice %></p>

<p>
  <b>date:</b>
  <%= @booking.b_date %>
</p>

<p>
  <b>Course:</b>
  <%= link_to @booking.course.title, @booking %>
</p>

<p>
  <b>Classroom:</b>
  <%= @booking.classroom.c_name %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>

