<h2><%= @user.name %></h2>


<div class="box">

  

    <h5>Bio:</h5>
    <%= @user.bio %>


    <h5>Age:</h5>
    <%= @user.age %>
  

  
    <h5>Email:</h5>
    <%= @user.email %>
  

  <h5>Courses:</h5>

  <ul>
    <% @user.courses.each do |course| %>
    <li><%= course.title %></li>
  </ul>

  <% end %>
</div>

<div class="right clear rounded alpha50black padded">
  <% if can? :update, @user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>

</div>


