<%= form_for(@enrollment) do |f| %>
  <% if @enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
      <% @enrollment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :name %><br />

    <%= f.label :involvement %>
    <%= f.select :involvement, ["student", "instructor"] %>

    <%= f.label :confirmed %>
    <%= f.select :confirmed, ["false", "true"] %>

    <%= f.label :course_id %>
    <%= f.collection_select :course_id, Course.all, :id, :title %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
