<h2>see what's on:</h2>



<% @courses.each do |course| %>
  <div class="box">
    <h5><%= link_to course.title, course %></h5>
    <p><%= course.description %></p>
    <p><%= course.start_date%> - <%= course.end_date%></p>
    <p>£<%= course.price %><p>
    </div>
    
<% end %>


<% if can? :create, Course %>
<%= link_to 'New Course', new_course_path, class: "clear" %>
<%end%>
