

<p>
  <b>Title:</b>
  <%= @course.title %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>Price: £</b>
  <%= @course.price %>
</p>


<ul>
<% @course.bookings.each do |b| %>

<li><%= b.b_date if b.b_date %></li>

<%= link_to 'Destroy', b, method: :delete, data: { confirm: 'Are you sure?' } %>

<%end%>
</ul>



<%= link_to 'Enroll', enroll_path(@course.id) %> |

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %> |



