<!DOCTYPE html>
<html>
<head>
  <title>GA Planner</title>
  <link href='http://fonts.googleapis.com/css?family=Michroma|Quattrocento+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div id="top" class="cf">
      <h1 id="logo">GA logo</h1>

      <ul class="right authenticate">
        <% if current_user %>        
          <li><%= link_to 'log out', logout_path(session), method: :delete, data: {confirm: 'Are you sure?'}, class: "authenticate" %></li>
          <li id="greeting">Hello, <%= current_user.name %>!</li>

        <% else %>
          <li class="right"><%= link_to 'login', login_path %><li/>
          <li class="right"><%= link_to 'sign up', new_user_path%></li>
        <%end%>
      </ul>

    </div>

    <div class="wrapper">
      <div class="container alpha70grey">

        <%= render 'nav' %>

        <% flash.each do |name, message|  %>
          <p class="notice"><%= message%></p>
        <%end%>

          <div class="content cf">
            <%= yield %>
          </div>

      </div>
    </div>
  </body>
</html>
